<rules>

  <!-- Only on live
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="skyspa.localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        -->

  <!-- but not /umbraco/*, /App_Plugins/*, /media/* -->
  <rule name="node">
    <match url="([_0-9a-z-\/]*)" />
    <conditions logicalGrouping="MatchAll">
      <add input="{REQUEST_URI}" negate="true" pattern="^/App_Browsers/*" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/App_Data/*" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/App_Plugins/*" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/bin/*" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/config/*" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/css/*" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/install/*" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/media/*" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/DependencyHandler.axd*" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/ScriptResource.axd*" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/umbraco/*" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/Umbraco_Client/*" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/6197sk/*" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/remote.axd/*" ignoreCase="true" />
      <add input="{QUERY_STRING}" negate="true" pattern="alttemplate" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/base/*" ignoreCase="true" />
    </conditions>
    <action type="Rewrite" url="/node/server/index.js" />
  </rule>
  <rule name="Redirect rule1 for Redirects">
    <match url=".*" />
    <conditions>
      <add input="{Redirects:{REQUEST_URI}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{C:1}" appendQueryString="false" />
  </rule>
</rules>