@import "~styles/variables";

.grid-rte {
	@include html-list();
	width: 100%;
}

.grid-rte table {
	width: 100% !important;

	td {
		text-align: center;
		padding: 10px 20px;
		border: 1px solid $color-gray-30;
		vertical-align: middle;
	}

	thead td {
		@include font-size(32px);
		padding: 10px;
		border: none;
		background-color: $color-2;
		color: #fff;
		font-weight: $normal;
		line-height: 1;
	}

	tbody tr {
		td {
			background-color: lighten($color-gray-10, 4%);
		}

		&:nth-child(even) td {
			background-color: lighten($color-gray-10, 1%);
		}
	}
}
