@import '~styles/variables';

.grid-placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10%;
	border: 1px dashed #888;
	color: #888;
	font-family: monospace;
	opacity: 0.2;

	&:hover {
		opacity: 1;
	}
}
